/* Markdown - specific styles for the journal */

.journal-document p {
    margin: 10px 0;
}

.journal-document h1 {
  font-size: 1.5em;
  margin: 0.5rem 0;
}

.journal-document h2 {
  font-weight: bold;
  margin: 0.5rem 0;
}

.journal-document a {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.journal-document ol > li,
.journal-document ul > li {
  list-style-type: auto;
  margin-left: 1rem;
}

.journal-document blockquote {
  padding-left: 1rem;
  border-left: 1px solid #9ca3af;
  font-style: italic;
}

.journal-document hr {
  margin: 2rem 0;
  border-top: 1px solid #9ca3af;
  width: 50%;
  transform: translateX(50%);
}
